body {
  background: linear-gradient (to bottom, #FFFFFF, #E0E0E0);
  color: #000000;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1{ 
  color: #333333;
  font-size: 30px;
}

h2{
  text-align: left;
  color: #555555;
  font-size: 25px;
}

p{
  text-align: justify;
  font-size:20px;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  color: blue;
  text-decoration: none;
  font-size: 25px;
}
