
@charset "UTF-8";

/* BODY */
body {
    background: linear-gradient(to bottom, #ffffff, #f0f0f0); /* degrade em duas cores */
    color: #000000; /* cor do texto */
    text-align: center; /* centralizar texto */
}

/* Fotos e textos */
img, p {
    display: block;
    margin: 0 auto; /* centralizar */
}

/* H1 */
h1 {
    text-align: center;
    color: #555555; /* cinza escuro */
    font-family: Arial, sans-serif;
    font-size: 30px;
}

/* H2 */
h2 {
    text-align: left;
    color: #777777; /* cinza médio */
    font-family: Arial, sans-serif;
    font-size: 25px;
}

/* Parágrafo */
p {
    text-align: left;
    text-align: justify;
    color: #000000; /* preto */
    font-family: Arial, sans-serif;
    font-size: 20px;
}

/* Fotos */
img {
    width: 50%; /* tamanho médio */
}

/* Links */
a {
    color: blue;
    text-decoration: none; /* sem sublinhado */
    font-size: 25px;
}

